.charts {
  align-items: center;
  display: flex;
}

@media screen and (min-width: 626px) {
  .charts {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
}

.charts {
  /* height: 92.5vh; */
  border-top: 2px solid black;
  justify-items: center;
  align-items: center;
  display: block;
}

h1 {
  
  text-align: center;
  display: flex;
  justify-content: center;
}

.ch {
  display: flex;
  padding-left: 20%;
   /* width: 50%; */
   height:450px;
   width:450px;
}
