.charts{
    display: grid;
   
   
}
@media screen and (min-width:626px) {
    .charts{
        display: grid;
        width: 30%;
       justify-items: center
    } 
  
}
.charts{
    border-left: 1px solid black;
   height: 92.5vh;

}
h1{
    display: flex;
    justify-content: center;
}
.ch{
    display: flex;
    width: 50%;
}